@import "../../../styles.scss";
.navigation-container {
  background-color: black;

  ul {
    display: flex;
    gap: 60px;
    height: 45px;
    padding-left: 20px;
    align-items: center;
    li {
      color: white;
      a {
        @include underline_transition(1.4);
        cursor: pointer;
      }
    }
  }
}
