<div>
  <h2 class="text-center text-2xl font-bold my-4">My Order</h2>
  <div
    *ngFor="
      let productItem of pastOrders
        | paginate : { itemsPerPage: 2, currentPage: p }
    "
    class="bg-slate-50 mx-auto w-3/4 mt-5 mb-2 p-5 shadow-md rounded-[15px] border-spacing-1 past-order"
  >
    <div className="flex">
      <p className="flex">Order ID: {{ productItem.orderId }}</p>
    </div>
    <hr />
    <div class="mt-2">
      <div class="row w-full flex">
        <div class="cart w-full">
          <div
            class="row border-top border-bottom"
            *ngFor="let product of productItem.products"
          >
            <div
              class="row main align-items-center flex justify-between bg-slate-50 product-item"
            >
              <div class="col-2 flex gap-5 product-name">
                <img
                  class="img-fluid"
                  [src]="'../../../assets/' + product.productImage"
                />
                <div>
                  <div>
                    <div class="row">{{ product.productName }}</div>
                  </div>
                  <p-rating
                    [(ngModel)]="product.rating"
                    [cancel]="false"
                    [readonly]="true"
                    class="text-[#FF9632]"
                    style="color: #ff9632"
                    [iconOnStyle]="{ color: '##FF9632' }"
                  />
                </div>
              </div>
              <div class="col flex gap-10 cart-item">
                <div class="col flex quantity">
                  <span>x</span>
                  {{ product.quantity }}
                </div>
                <a class="col">
                  {{ product.price | currency }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <div class="flex justify-between mt-3">
      <p>
        Total :
        <span class="font-bold text-[#475569]">{{
          productItem.total | currency
        }}</span>
      </p>
      <button
        class="bg-[#475569] p-2 !rounded-md text-white"
        (click)="getOrderDetails(productItem.orderId)"
      >
        View Details
      </button>
    </div>
  </div>
  <pagination-controls
    class="my-pagination w-3/4 mx-auto"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
