::ng-deep .p-dropdown {
  background-color: #e5e7eb;
}
::ng-deep .p-inputwrapper-focus {
  border: none;
  outline: none;
  box-shadow: none !important;
}

.badge {
  position: absolute;
  right: -13px;
  top: -18px;
}
