<div
  class="flex justify-between bg-slate-600 px-6 items-center"
  *ngIf="!isMobile"
>
  <div class="logo">
    <img src="../../../assets/logo.png" class="mr-2 resize-image !h-[70px]" />
  </div>
  <div class="flex search-input">
    <div class="card flex justify-content-center bg-gray-200"></div>
    <span class="p-input-icon-left">
      <input
        #keyword
        class="pl-4 h-full bg-white outline-none"
        type="text"
        pInputText
        (keyup.enter)="onKeyUp($event)"
        placeholder="Search..."
      />
    </span>
    <button (click)="onClickSearch(keyword.value)" class="bg-gray-200 p-3">
      <i class="pi pi-search"></i>
    </button>
  </div>
  <div class="flex gap-5 items-center text-white cursor-pointer">
    <div class="flex items-center gap-1">
      <div *ngIf="!isUserAuthenticated">
        <span class="cursor-pointer" routerLink="signin"> Login </span>/<span
          class="cursor-pointer"
          routerLink="signup"
          >Register</span
        >
      </div>

      <div *ngIf="isUserAuthenticated">
        <div class="dropdown">
          <i class="pi pi-user"></i>
          <span> {{ userName }}</span>
          <div class="dropdown-content">
            <a routerLink="past-order">
              <span (click)="pastOrder()">Past Order</span></a
            >

            <a href="home/products"> <span (click)="logout()">Logout</span></a>
          </div>
        </div>
      </div>
    </div>
    <a class="flex" routerLink="/home/cart">
      <i class="pi pi-shopping-cart text-2xl relative"
        ><p-badge
          class="absolute badge"
          [value]="
            cartStore.cart.totalProducts ? cartStore.cart.totalProducts : 0
          "
        ></p-badge
      ></i>
    </a>
  </div>
</div>
