<div class="font-inter antialiased bg-slate-100">
  <main class="min-h-screen flex flex-col overflow-hidden">
    <h2 class="text-center text-2xl font-bold py-4">Order Detail</h2>
    <div
      class="w-full mx-auto px-4 md:px-5 bg-slate-100"
      *ngIf="pastOrderProduct"
    >
      <div class="flex gap-8 mb-10">
        <div class="w-full bg-white rounded-2xl mb-3 shadow-md">
          <header class="px-4 py-3 border-b border-slate-200">
            <h2 class="font-semibold text-slate-900">Address Info</h2>
          </header>
          <div class="p-3">
            <p>User Name: {{ pastOrderProduct.userName }}</p>
            <p>Pin: {{ pastOrderProduct.pin }}</p>
            <p>State : {{ pastOrderProduct.state }}</p>
            <p>City : {{ pastOrderProduct.city }}</p>
          </div>
        </div>
        <div class="w-full bg-white rounded-2xl mb-3 shadow-md">
          <header class="px-4 py-3 border-b border-slate-200">
            <h2 class="font-semibold text-slate-900">Order Info</h2>
          </header>
          <div class="p-3">
            <p>
              Order Date:
              {{ pastOrderProduct.orderDate | dateformat }}
            </p>
            <p>Status: {{ pastOrderProduct.pin }}</p>
            <p>
              Total:
              <span class="text-[#475569] font-bold">{{
                pastOrderProduct.total | currency
              }}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="w-full bg-white shadow-xl rounded-2xl">
        <header class="px-4 py-3 border-b border-slate-200">
          <h2 class="font-semibold text-slate-900">Order History</h2>
        </header>
        <div class="p-3">
          <div class="overflow-x-auto">
            <table class="table-auto w-full">
              <thead class="text-[13px] text-slate-500/70">
                <tr>
                  <th
                    class="px-5 py-2 first:pl-3 last:pr-3 bg-slate-100 first:rounded-l last:rounded-r last:pl-5 last:sticky last:right-0"
                  >
                    <div class="font-medium text-left">#</div>
                  </th>
                  <th
                    class="px-5 py-2 first:pl-3 last:pr-3 bg-slate-100 first:rounded-l last:rounded-r last:pl-5 last:sticky last:right-0"
                  >
                    <div class="font-medium text-left">Product Name</div>
                  </th>
                  <th
                    class="px-5 py-2 first:pl-3 last:pr-3 bg-slate-100 first:rounded-l last:rounded-r last:pl-5 last:sticky last:right-0"
                  >
                    <div class="font-medium text-left">Quantity</div>
                  </th>
                  <th
                    class="px-5 py-2 first:pl-3 last:pr-3 bg-slate-100 first:rounded-l last:rounded-r last:pl-5 last:sticky last:right-0"
                  >
                    <div class="font-medium text-left">Price</div>
                  </th>
                  <th
                    class="px-5 py-2 first:pl-3 last:pr-3 bg-slate-100 first:rounded-l last:rounded-r last:pl-5 last:sticky last:right-0"
                  >
                    <div class="font-medium text-left">Amount</div>
                  </th>
                </tr>
              </thead>
              <tbody
                class="text-sm font-medium"
                *ngFor="let item of pastOrderProduct.products"
              >
                <tr>
                  <td
                    class="px-5 py-3 border-b border-slate-200 last:border-none first:pl-3 last:pr-3 last:bg-gradient-to-r last:from-transparent last:to-white last:to-[12px] last:pl-5 last:sticky last:right-0"
                  >
                    <div class="text-slate-500">1</div>
                  </td>
                  <td
                    class="px-5 py-3 border-b border-slate-200 last:border-none first:pl-3 last:pr-3 last:bg-gradient-to-r last:from-transparent last:to-white last:to-[12px] last:pl-5 last:sticky last:right-0"
                  >
                    <div class="flex items-center">
                      <img
                        height="50"
                        width="50"
                        class="img-fluid"
                        [src]="'../../../assets/' + item.productImage"
                      />
                      <div>
                        <div class="row">
                          {{ item.productName }}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td
                    class="px-5 py-3 border-b border-slate-200 last:border-none first:pl-3 last:pr-3 last:bg-gradient-to-r last:from-transparent last:to-white last:to-[12px] last:pl-5 last:sticky last:right-0"
                  >
                    <div class="text-slate-500">x {{ item.quantity }}</div>
                  </td>
                  <td
                    class="px-5 py-3 border-b border-slate-200 last:border-none first:pl-3 last:pr-3 last:bg-gradient-to-r last:from-transparent last:to-white last:to-[12px] last:pl-5 last:sticky last:right-0"
                  >
                    <div class="text-slate-900">
                      {{ item.price | currency }}
                    </div>
                  </td>
                  <td class="px-5 py-3 border-b border-slate-200">
                    <div class="text-slate-900">
                      {{ item.amount | currency }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <p class="mt-8 text-blue-400">
        <a routerLink="/home/past-order"> &leftarrow; Back</a>
      </p>
    </div>
  </main>
</div>
