<section class="text-gray-700 body-font bg-[#F5F5FA]">
  <div class="container px-5 pyb12 mx-auto bg-[#F5F5FA]">
    <p class="pt-8 text-blue-400 px-5 mb-5">
      <a routerLink="/home/products"> &leftarrow; Back</a>
    </p>
    <div class="lg:w-4/5 mx-auto flex flex-wrap justify-around" *ngIf="product">
      <p-image
        class="lg:w-1/3 object-contain object-center rounded border border-gray-200 bg-white"
        [src]="'../../../assets/' + product.product_img"
        alt="Image"
        width="300"
        height="300"
        [preview]="true"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
          BRAND NAME
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{ product.product_name }}
        </h1>
        <div class="flex mb-4">
          <p-rating
            [(ngModel)]="product.rating"
            [cancel]="false"
            [readonly]="true"
            class="text-[#FF9632]"
            style="color: #ff9632"
            [iconOnStyle]="{ color: '##FF9632' }"
          />
        </div>
        <p class="leading-relaxed mb-2 text-truncate">
          {{ product.product_description }}
        </p>
        <hr />

        <div class="flex mt-4">
          <span class="title-font font-medium text-2xl text-gray-900">{{
            product.price | currency
          }}</span>
          <button
            (click)="addToCart()"
            class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-5 py-8">
    <p-tabView>
      <p-tabPanel header="Description">
        <p>{{ product.product_description }}</p>
      </p-tabPanel>
      <p-tabPanel header="Review">
        <div>
          <div>
            <label
              for="message"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your message</label
            >
            <textarea
              id="message"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 outline-none"
              placeholder="Write your thoughts here..."
            ></textarea>
          </div>
          <div>
            <div
              class="flex flex-col gap-2 w-full bg-white border-slate-100 border dark:bg-neutral-900 p-5 rounded-md mt-8 shadow-md hover:border-blue-400"
            >
              <div class="flex flex-row justify-between w-full">
                <div class="flex flex-row justify-between w-full">
                  <!-- User's name -->
                  <p class="text-xs">John Doe</p>
                  <!-- Date of the review -->
                  <p class="text-xs">june 1, 2000</p>
                </div>
              </div>
              <div class="flex flex-row justify-between w-full">
                <h3 class="text-xl font-bold">Great Experience!</h3>

                <!-- Static 4-star rating -->
                <div class="text-xs">
                  <div class="flex flex-row">
                    <!-- Star SVGs -->
                    <!-- Repeat the filled star SVG four times -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-yellow-400"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-yellow-400"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-yellow-400"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-yellow-400"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"
                      />
                    </svg>
                    <!-- Empty Star SVG -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-yellow-200"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <!-- Review content -->
              <div class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                lacinia odio vitae vestibulum. Donec in efficitur ipsum, sed
                dapibus eros.
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</section>
