::ng-deep.p-card-body {
  text-align: center;
  padding-top: 0;
  .p-card-title {
    font-size: 18px;
  }
  .p-card-content {
    padding: 0;
  }
}
:host ::ng-deep .p-rating-icon:not(.p-rating-cancel),
:host ::ng-deep .p-rating-icon:not(.p-rating-cancel):hover {
  color: #faaf00 !important;
}
