<ng-container *ngIf="!cartStore.cart.products.length" class="h-14">
  <div class="w-full text-center mx-auto">
    <img
      class="emty-cart !w-1/3 mx-auto mt-6"
      src="../../../assets/empty_cart.jpg"
    />

    <p class="font-bold text-xl">Ohhh ... Your cart is empty</p>
    <p class="text-slate-400">
      Looks like you haven't added anything to your cart yet
    </p>
  </div>
</ng-container>
<div *ngIf="alertMessage !== ''">
  {{ alertMessage }}
</div>
<div class="card !my-10" *ngIf="cartStore.cart.products.length">
  <div class="row w-full flex" *ngIf="cartStore.cart$ | async as cart">
    <div class="w-[60%] cart relative">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
        </div>
      </div>
      <div
        class="row border-top border-bottom"
        *ngFor="let cartItem of cart.products"
      >
        <div class="row main align-items-center flex justify-between">
          <div class="col-2 flex gap-5">
            <img
              class="img-fluid"
              [src]="'../../../assets/' + cartItem.product.product_img"
            />
            <div>
              <div class="row">{{ cartItem.product.product_name }}</div>
              <p-rating
                [(ngModel)]="cartItem.product.rating"
                [cancel]="false"
                [readonly]="true"
                class="text-[#FF9632]"
                style="color: #ff9632"
                [iconOnStyle]="{ color: '##FF9632' }"
              />
            </div>
          </div>

          <div class="col flex">
            <a class="cursor-pointer" (click)="updateQuantity($event, cartItem)"
              >-</a
            >
            <div href="#" class="border py-0 px-2 h-[45%] mx-2">
              {{ cartItem.quantity }}
            </div>
            <div
              class="cursor-pointer"
              (click)="updateQuantity($event, cartItem)"
            >
              +
            </div>
          </div>
          <a class="col">
            {{ cartItem.product.price | currency }}
            <span
              class="close cursor-pointer"
              (click)="removeItemCart(cartItem)"
              >&#10005;</span
            >
          </a>
        </div>
      </div>

      <div class="back-to-shop">
        <a routerLink="../products"
          >&leftarrow;<span class="text-muted ml-2">Back to shop</span></a
        >
      </div>
    </div>
    <form class="w-[40%] summary" (submit)="onSubmit()" [formGroup]="orderForm">
      <div>
        <h2><b>Address Info</b></h2>
        <div class="flex flex-col gap-2">
          <div class="required flex gap-2 items-center justify-between">
            <label for="name" class="label mb-2"> Name</label>
            <input
              id="name"
              type="text"
              class="input !mb-0 !w-80"
              formControlName="name"
            />
          </div>
          <div class="required flex gap-2 items-center justify-between">
            <label for="address" class="label mb-2">Address</label>
            <input
              id="address"
              type="text"
              class="input !mb-0 !w-80"
              formControlName="address"
            />
          </div>
          <div class="required flex gap-2 items-center justify-between">
            <label for="city" class="label mb-2">City</label>
            <input
              id="city"
              type="text"
              class="input !mb-0 !w-80"
              formControlName="city"
            />
          </div>
          <div class="required flex gap-2 items-center justify-between">
            <label for="state" class="label mb-2">State</label>
            <input
              id="state"
              type="text"
              class="input !mb-0 !w-80"
              formControlName="state"
            />
          </div>
          <div class="required flex gap-2 items-center justify-between">
            <label for="pin" class="label mb-2">Pin</label>
            <input
              id="pin"
              type="text"
              class="input !mb-0 !w-80"
              formControlName="pin"
            />
          </div>
        </div>
      </div>
      <div>
        <div>
          <h5><b>Summary</b></h5>
        </div>
        <div class="row">
          <div class="flex justify-between">
            Cart total<span>{{ cart.totalAmount | currency }}</span>
          </div>
        </div>
        <div class="row">
          <div class="flex justify-between mb-2">
            Shipping <span>Free ship</span>
          </div>
        </div>

        <div class="row border-t-2 pt-2 mt-1 flex justify-between">
          <div class="col">TOTAL PRICE</div>
          <div class="col text-right font-bold">
            {{ cartStore.cart.totalAmount | currency }}
          </div>
        </div>
      </div>

      <button class="btn !p-2 font-bold" [disabled]="!orderForm.valid">
        CHECKOUT
      </button>
    </form>
  </div>
</div>
