<div class="card flex justify-content-center side-nav">
  <p-accordion [multiple]="true" class="w-60">
    <p-accordionTab
      *ngFor="let category of getCategories(); let i = index"
      [header]="category.category"
    >
      <ul>
        <li
          class="text-center"
          *ngFor="let childCategory of getCategories(category.id)"
        >
          <a (click)="onSubCategoryClick(childCategory)">{{
            childCategory.category
          }}</a>
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>
</div>
